@media (min-width: 48em) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 16px;
  }
}

img + br + em {
  font-size: 16px
}

img {
  max-width: 120%;
}

.footnotes {
  font-size: 14px
}
